.transparent {
  background-color: transparent;
  border-bottom: none;
}

.transparent a { color: #fff !important; }

.hero {
  min-height: 70vh;
  background-image: url(/img/hero-1.png);
  background-size: cover;
  background-position: center center;
  background-color: rgb(167,86,136);
  padding-top: $topbar-height;
  text-align: left;
  color: rgba(255,255,255,0.89);
}

.cool-thing {
  color: #46b3e2;
  display: inline-block;
}

.tallboy {
  height: 600px;
}


