/**
 * Uses SASS compiled to global stylesheet, yote.css
 * Any styles specific to the Task module that you ALSO want globally
 * available should live here.
 */

@import "./admin/taskAdminStyles";

.-task-item {
  @include display-flex;
  @include align-items(flex-start);
  margin-bottom: $gutter;
  // padding: 8px 0;
  .-icon {
    margin-right: $gutter;
    .-checkbox {
      &:hover {
        cursor: pointer;
      }
      &.-done {
        color: $success;
      }
    }
  }
  .-copy {
    @include flex(1);
  }
  .-text {
    @include medium-font;
    font-weight: 500;
  }
}